// import base.s
@import "./abstract/variables";
@import "./abstract/mixins";

@import "./base/base";
@import "./base/animations";

@import "./layout/welcome";

@import "./components/section";
@import "./layout/navButtons";

#wrapper {
  position: relative;
  max-height: 100%;
  height: 100%;
  display: inline-flex;
  flex-direction: row;
  overflow: hidden;
  overflow-x: scroll;
}

.title-part {
  font-family: Bowlby One SC !important;
  color: rgba(250, 250, 250, 0.9);
  mix-blend-mode: difference;
  text-transform: uppercase;
  text-shadow: 1px 0px 1px #777, 0px 1px 1px #777, 0px -1px 1px white;
  font-size: 3rem;
  font-weight: bolder;
  letter-spacing: 0.1em;
  padding: 3rem;
  transition: transform 0.3s ease-out;
}

.title-part:hover {
  transform: scale(1.08);
  cursor: pointer;
}
.part p {
  padding: 0 2rem;
  font-family: "Merriweather Sans", sans-serif;
  backface-visibility: hidden;
  color: snow;
  font-size: 1.3vw;
  letter-spacing: 0.1em;
  text-shadow: 2px 1px 0 #222, 1px 1px 0 #111, 0 0 1px rgba(0, 0, 0, 0.8); /*the shadow under all*/
  transform: scale(0.95);
  transition: transform 0.3s ease-out;
  margin-top: 5vh;
}
.part {
  flex-direction: column;
  position: relative;
  display: flex;
  justify-content: center;
  width: 33.333333vmax;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  z-index: 0;
  backface-visibility: hidden;
  transition: transform 0.3s ease-out, opacity linear 0.5s;
  opacity: 0.9;
}

@media (max-width: 1350px) {
  .part {
    width: 50vw;
  }
  .part p {
    font-size: 2vw;
  }
}

@media (max-width: 780px) {
  .part {
    width: 100vw;
  }

  .part p {
    font-size: 3.3vmax;
    line-height: 1;
    margin-top: 2vh;
  }
  .title-part {
    font-size: 5.5vmax;
  }
}

.part * {
  opacity: 1;
}

.part:hover {
  z-index: 1;
  box-shadow: 0 0 3px 5px rgba(3, 3, 3, 0.2);
  transform: scale(1.05, 1.05);
}
.part:hover .part {
  z-index: 0;
  box-shadow: 0 0 0px 0px transparent;
  transform: scale(1);
}
.part:hover p {
  transform: translateY(-3%) scale(1);
}

/* same with after*/

.part::after {
  content: "";
  padding-bottom: 5rem;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  height: 40px;
  width: 220%;
  padding-left: 5px;
  bottom: 0;
  border-radius: 10px;
  transform: translate(-25%, 0) rotate(-45deg);
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  opacity: 0;
}
.part:hover::after {
  transform: translate(-120%, -100vh) rotate(-45deg);
  opacity: 1;
}

/* REDIRECT STUFF    REDIRECT STUFF    REDIRECT STUFF     */

/* THIS CLASS IS GIVEEN IN INDEX.HTML ON THE BOTTOM WITH JS. SELECTED ANCHOR TAG, PREVENTED DEFAULT
GOT THE PATH OF THE ANCHOR TAG AND GIVEN THE CLASS COVER-SCREEN TO THE PARENT (.PART) */

/*    .PART.COVER-SCREEN    */
.cover-screen {
  pointer-events: none;
  z-index: 4;
  transform: scale(6, 6) !important;
  pointer-events: none;
  background-image: none !important;
  opacity: 1 !important;
} /*          !!!! THE TRANSITION IS GIVEN ALREADYTO .PART         */

.cover-screen h2,
.cover-screen p {
  pointer-events: none;
  transform: translateY(-100%), scale(0);
  opacity: 0;
  transition: transform 0.5s ease-out;
}

/*######################################*/
/*######################################*/

/*#################################  			arrows	########		 */
/*#####################################		 END		NAVIGATION         END        NAVIGATION 		########################################*/

.part:nth-child(1) {
  background-color: rgb(212, 224, 255);
  background-image: linear-gradient(
      205deg,
      rgba(150, 153, 255, 0.9),
      rgba(157, 255, 128, 0.8)
    ),
    url(./imgs/pryvapp.PNG);
  background-size: cover;
  background-position: top center;
}
.part:nth-child(1) > p {
  color: hsl(117, 100%, 50%);
}

.part:nth-child(2) {
  background-color: rgb(18, 36, 59);
  background-image: linear-gradient(
      205deg,
      rgba(18, 36, 59, 0.98),
      rgba(18, 36, 59, 0.98)
    ),
    url(./imgs/presentation.PNG);
  background-size: cover;
  background-position: top center;
}
.part:nth-child(2) > h2 {
  color: wheat;
}

.part:nth-child(3) {
  background-color: #f5f5f5;
  background-image: linear-gradient(
      205deg,
      rgba(255, 190, 110, 0.9),
      rgba(214, 214, 214, 0.9),
      rgba(214, 214, 214, 0.8),
      rgba(100, 130, 199, 0.91)
    ),
    url(./imgs/bar-app.PNG);
  background-size: cover;
  background-position: top left;
}
.part:nth-child(3) > .part-title {
  mix-blend-mode: normal;
  color: rgba(248, 160, 85, 0.9);
}
.part:nth-child(3) > p {
  color: hsl(225, 100%, 75%);
}

.part:nth-child(4) {
  background-color: rgba(255, 99, 99, 1);
  background-image: linear-gradient(
      205deg,
      rgba(251, 125, 41, 0.9),
      rgba(255, 99, 99, 0.9)
    ),
    url(./imgs/lodge.PNG);
  background-size: cover;
  background-position: top center;
}

.part:nth-child(5) {
  background-color: rgb(83, 94, 243);
  background-image: linear-gradient(
      205deg,
      rgba(150, 255, 161, 0.8),
      rgba(83, 94, 243, 0.9)
    ),
    url(./imgs/OUTTHERE.PNG);
  background-size: cover;
}

.part:nth-child(6) {
  background-color: rgba(150, 255, 161, 1);
  background-image: linear-gradient(
      205deg,
      rgba(150, 255, 161, 0.9),
      rgba(150, 255, 161, 0.8)
    ),
    url(./imgs/Travel-pic.PNG);
  background-size: cover;
  background-position: top center;
}
.part:nth-child(7) {
  background-color: rgba(85, 85, 85, 1);
  background-image: linear-gradient(
      205deg,
      rgba(85, 85, 85, 0.8),
      rgba(85, 85, 85, 0.7)
    ),
    url(./imgs/JS-game.PNG);
  background-size: cover;
  background-position: top center;
}
.part:nth-child(8) {
  background-color: whitesmoke;
}
.part:nth-child(8) p {
  color: rgb(0, 95, 107);
}

/*MENU		MENU    ####MENU		MENU    ####MENU		MENU    ####MENU		MENU    ####MENU		MENU    ####MENU		MENU    ####MENU		MENU    ####MENU	*/

@keyframes menuAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#menu-container {
  position: fixed;
  display: none;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.6s ease-out;
  perspective: 1000px;
}

#menu-container.active {
  display: flex;
  z-index: 1;
  perspective: 1000px;
}

#menu-container.opac {
  opacity: 1;
}

// menu fixed

/*##################################################################################################################*/
/*##############################################  M  E  N  U    M  E  N  U  ###########################################*/
/*##################################################################################################################*/
/*##################################################################################################################*/

.overlayPart {
  position: relative !important;
  display: none;
  width: 33.33vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  z-index: 2;
  color: #eee;
}
.overlayPart.show-3D {
  display: inline-block;
}
/*  added class with js, the item get an animation  */

.overlayPart.show-3D:nth-child(1) {
  background: linear-gradient(to right, #001, #012, #123, #234);
  -webkit-animation: animIn 1s ease-in forwards;
  animation: animIn 1s ease-in forwards;
}

.overlayPart.show-3D:nth-child(2) {
  background: linear-gradient(to right, #234, #345, #456, #567);
  -webkit-animation: animIn-r 1s ease forwards;
  animation: animIn-r 1s ease forwards;
}
.overlayPart.show-3D:nth-child(3) {
  background: linear-gradient(to right, #567, #678, #789);
  -webkit-animation: animIn 1s ease-out forwards;
  animation: animIn 1s ease-out forwards;
}

.overlayPart:hover {
  cursor: pointer;
}

.overlayPart:hover .menu-description {
  height: 13rem;
  opacity: 1;
  transform: translate(10%, -5%);
}
.overlayPart:hover .titleWrap {
  transform: scale(1.3, 1.3);
}
.overlayPart:hover .de-title-case {
  transform: translateY(10%);
}
.overlayPart:hover .subtitle > h2 {
  transform: translateX(-80%);
}
.overlayPart:hover .sub2 > h2 {
  transform: translateX(23%);
  opacity: 0.7;
  transition-delay: 0.5s;
}

/*//////////////////////////////////////////////////////////////////////////////////*/

.menu-description {
  overflow: hidden;
  width: 80%;
  opacity: 0;
  height: 1px;
  text-align: justify;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  transition: height 0.4s ease-in, opacity 0.6s linear,
    transform 0.5s ease-in-out;
  transition-delay: 0.2s;
}

.titleWrap {
  margin-top: 24vh;
  height: 5.3em;
  overflow: hidden;
  transform: scale(1.1, 1.1);
  transition: transform 0.4s ease-in 0.1s;
}
.de-title-case {
  padding-left: 20%;
  transform: translateY(-5em);
  transition: transform 0.5s cubic-bezier(0.31, 0.77, 0.44, 1.09);
}
.de-title-case h2 {
  background: linear-gradient(to right, #f32170, #ffeb07, #2196f3, #ff00eb);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  /*	text-shadow: 0 0 2px rgba(0,0,0,1); */
}

.title,
.sub {
  font-family: arial black;
}
.title {
  font-size: 2.5rem;
}
@media (max-width: 1000px) {
  .title {
    font-size: 2rem;
  }
}
.subtitle-container {
  position: absolute;
  display: flex;
  justify-content: flex-end;
}
.subtitle {
  margin-left: 2rem;
  width: 28vw;
  min-height: 1em;
  overflow: hidden;
}

.subtitle.sub2 h2 {
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.4s ease-out, opacity 0.3s ease-in-out;
}

/*  MEDIA QUERYES  */
@media (max-width: 1200px) {
  .overlayPart.show-3D:nth-child(1) {
    display: none;
  }
  .overlayPart {
    width: 50%;
  }
  .subtitle {
    width: 40vw;
  }
}

@media (max-width: 600px) {
  .overlayPart.show-3D:nth-child(3) {
    display: none;
  }
  .overlayPart {
    width: 100%;
  }
  .subtitle {
    width: 90vw;
  }
}
/* sub menu */

/*##################################################################################################################*/
/*##################################################################################################################*/
/*##################################################################################################################*/
/*##################################################################################################################*/

/*		WELCOME KEYFRAMES		*/
