// BIG SCREENS

a {
  text-decoration: none;
  color: inherit;
}
@media (min-width: 1350px) {
  .if-mobile {
    display: none;
  }
}

.welcome-container {
  display: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: transparent;
  position: fixed;
  display: flex;
  whitespace: nowrap;
  z-index: 2;
}
.welcome-text {
  mix-blend-mode: difference;
  color: white;
  margin-top: 50vh;
  transform: skewX(-45deg) translateY(-50%);
  font-size: 10vw;
  text-align: center;
  font-family: sans-serif;
}
.skew {
  position: relative;
  width: 50vw;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  transform: skewX(45deg);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.skew.right {
  width: calc(50vw + 1000px);
  margin-right: -1000px;
  background-color: #fc4d2a;
}
.skew.left {
  width: calc(50vw + 1000px);
  margin-left: -1000px;
  background-color: #fc9e2a;
}
.left > .welcome-text {
  margin-right: calc(-1000px - 40vw);
}
.right > .welcome-text {
  margin-left: calc(-1000px - 60vw);
  color: #fff;
}
.skew {
  -webkit-animation: grayscale 0.3s ease-in-out 1s 2 normal forwards;
  animation: grayscale 0.3s ease-in-out 1s 2 normal forwards;
}

.right {
  -webkit-animation: goRight 0.5s ease-in 1.4s 1 normal forwards,
    grayscale 0.8s ease-in-out 1.3s forwards;
  animation: goRight 0.5s ease-in 1.4s 1 normal forwards,
    grayscale 0.8s ease-in-out 1.3s forwards;
}
.left {
  -webkit-animation: goLeft 0.5s ease-in 1.4s 1 normal forwards running,
    grayscale 0.8s ease-in-out 1.3s forwards;
  animation: goLeft 0.5s ease-in 1.4s 1 normal forwards running,
    grayscale 0.8s ease-in-out 1.3s forwards;
}

// SMALLER MEDIA SCREENS

/*  MEDIA FOR SKEW  	WELCOME  MEDIA		WELCOME  MEDIA		WELCOME  MEDIA		WELCOME  MEDIA */
/*  MEDIA FOR SKEW  	WELCOME  MEDIA		WELCOME  MEDIA		WELCOME  MEDIA		WELCOME  MEDIA*/
/*  MEDIA FOR SKEW  	WELCOME  MEDIA		WELCOME  MEDIA		WELCOME  MEDIA		WELCOME  MEDIA*/

/* rules for media screens */
.opacity-welcome-media {
  display: none;
}
@media (max-width: 1300px) {
  .skew {
    position: relative;
    width: 0;
    height: 0;
    display: none;
  }
  /*	display none given from js */
  /*  WHEN MEDIA OTHER WELCOME TEXT  */
  .opacity-welcome-media {
    display: block;
    z-index: 5;
    height: 100vh;
    overflow: hidden;
    animation: animationOpacity 1.5s forwards 3.5s;
  }
  @keyframes animationOpacity {
    100% {
      height: 0px;
    }
  }

  .container {
    z-index: 5;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    position: relative;
    color: transparent;
    background: linear-gradient(270deg, #333fe3, #3df507, #e3ff00, #ff0000);
    background-size: 800% 800%;
    -webkit-animation: gradient-background 16s ease;
    -moz-animation: gradient-background 16s ease;
    animation: gradient-background 16s ease;
  }

  .container ul {
    font-family: "Baloo", cursive;
    font-weight: 900;
    list-style: none;
    font-size: 8vw;
    position: absolute;
  }
  .container ul li {
    display: inline-block;
  }
  /*every word*/
  .welcome {
    left: 6vw;
    transform: translateX(calc(100vw));
    animation: wordRight 2s ease-in-out forwards;
  }
  .to {
    top: 25vh;
    left: 50vw;
    transform: translateX(calc(-100vw));
    animation: wordLeft 1.5s ease-in-out forwards 0.6s;
  }
  .my {
    top: 45vh;
    right: 50vw;
    transform: translateX(calc(100vw));
    animation: wordRight 1.2s ease-in-out forwards 0.8s;
  }
  .portfolio {
    top: 65vh;
    right: 7vw;
    transform: translateX(calc(-100vw));
    animation: wordLeft 2s ease-in-out forwards 1s;
  }

  /* ANIMATION 4 EVERY LETTER */
  /*      Welcome     */
  .welcome li:nth-child(1) {
    animation: vanish 0.2s ease-out 2.3s forwards;
  }
  .welcome li:nth-child(2) {
    animation: vanish 0.2s ease-out 2.8s forwards;
  }
  .welcome li:nth-child(3) {
    animation: vanish 0.2s ease-out 2.1s forwards;
  }
  .welcome li:nth-child(4) {
    animation: vanish 0.2s ease-out 2.2s forwards;
  }
  .welcome li:nth-child(5) {
    animation: vanish 0.2s ease-out 2.6s forwards;
  }
  .welcome li:nth-child(6) {
    animation: vanish 0.2s ease-out 2.8s forwards;
  }
  .welcome li:nth-child(7) {
    animation: vanish 0.2s ease-out 2.2s forwards;
  }

  /*      To     */
  .to li:nth-child(1) {
    animation: vanish 0.2s ease-out 3s forwards;
  }
  .to li:nth-child(2) {
    animation: vanish 0.2s ease-out 2.6s forwards;
  }
  /*      My     */
  .my li:nth-child(1) {
    animation: vanish 0.2s ease-out 2.8s forwards;
  }
  .my li:nth-child(2) {
    animation: vanish 0.2s ease-out 2.5s forwards;
  }
  /*      Portfolio     */
  .portfolio li:nth-child(1) {
    animation: vanish 0.2s ease-out 3.5s forwards;
  }
  .portfolio li:nth-child(2) {
    animation: vanish 0.2s ease-out 3.2s forwards;
  }
  .portfolio li:nth-child(3) {
    animation: vanish 0.2s ease-out 3.3s forwards;
  }
  .portfolio li:nth-child(4) {
    animation: vanish 0.2s ease-out 3.7s forwards;
  }
  .portfolio li:nth-child(5) {
    animation: vanish 0.2s ease-out 3.8s forwards;
  }
  .portfolio li:nth-child(6) {
    animation: vanish 0.2s ease-out 3.1s forwards;
  }
  .portfolio li:nth-child(7) {
    animation: vanish 0.2s ease-out 2.9s forwards;
  }
  .portfolio li:nth-child(8) {
    animation: vanish 0.2s ease-out 2.7s forwards;
  }
  .portfolio li:nth-child(9) {
    animation: vanish 0.2s ease-out 3.6s forwards;
  }
  /**  WELCOME ANIMATION FOR MEDIA SCREENS */ /** WELCOME ANIMATION FOR MEDIA SCREENS */
  @keyframes vanish {
    100% {
      transform: scale(5);
      opacity: 0;
    }
  }
  /*  BACKGROUND AND SINGLE WORDS ANIMATION  */
  @-webkit-keyframes gradient-background {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @-moz-keyframes gradient-background {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes gradient-background {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes wordLeft {
    100% {
      transform: translateX(0);
      color: white;
    }
  }
  @keyframes wordRight {
    100% {
      transform: translateX(0);
      color: white;
    }
  }
  /**     END     WELCOME ANIMATION FOR MEDIA SCREENS 			*/
  /**     END     WELCOME ANIMATION FOR MEDIA SCREENS 			*/
}
/*
#####################################		END WELCOME TEXT 	############################################	END WELCOME ###########################
################################################################	END WELCOME TEXT 	###########################################
#####################################		END WELCOME TEXT 	############################################	END WELCOME ###########################
################################################################	END WELCOME TEXT 	###########################################
#####################################		END WELCOME TEXT 	############################################	END WELCOME ###########################
################################################################	END WELCOME TEXT 	###########################################

*/
